@charset "utf-8";

/* jQueryの設定 */

/* 要素が右からフェードインする設定 */
.fade-type-right {
  transform: translateX(50px);
  transition: 1.5s;
  opacity: 0;
}
/* 要素が左からフェードインする設定 */

.fade-type-left {
  transform: translateX(-50px);
  transition: 0.9s;
  opacity: 0;
}

.fade-type-left:nth-of-type(1) {
  transition-delay: 0.3s;
}

.fade-type-left:nth-of-type(2) {
  transition-delay: 0.5s;
}

.fade-type-left:nth-of-type(3) {
  transition-delay: 0.7s;
}

.fade-left-right {
  transform: translateX(0);
  opacity: 1;
}


/* 要素が連続でフェードインする設定 */
.fade-elem {
  transition: 0.9s;
  transform: translateY(50px);
  opacity: 0;
}

.fade-elem:nth-of-type(1) {
  transition-delay: 0.3s;
}
.fade-elem:nth-of-type(2) {
  transition-delay: 0.5s;
}
.fade-elem:nth-of-type(3) {
  transition-delay: 0.7s;
}
.fade-elem:nth-of-type(4) {
  transition-delay: 0.9s;
}
.fade-elem:nth-of-type(5) {
  transition-delay: 1.1s;
}

.fade-up {
  transform: translateY(0);
  opacity: 1;
}
/* TOPへの移動ボタン */

#page-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  font-size: 85%;
  letter-spacing: 1px;
}

#page-top a {
  background: #333;
  color: #fff;
  width: 100px;
  padding: 30px 0;
  text-align: center;
  display: block;
  border-radius: 50%;
}

#page-top a:hover {
  transition: 0.3s ease-in-out;
  background: #999;
}

/* -------  ここまで  ------- */

/* 見出しの横のボーダー */

.page-title {
  display: flex;
  align-items: center;
  letter-spacing: 5px;
}

.page-title::before,
.page-title::after {
  content: "";
  flex-grow: 1;
  height: 1px;
  background: #333;
  margin: 3em 2em;
}

/* -------  ここまで  ------- */

/* navのhoverアクション */

.hv-link {
  display: inline-block;
}

.hv-link a {
  position: relative;
  transition: 0.25s ease-in-out;
  color: #333;
}

.hv-link:hover a {
  opacity: 0.4;
}

.hv-link a::before {
  width: 0;
  height: 1px;
  background: #333;
  position: absolute;
  bottom: -5px;
  content: "";
}

.hv-link.center-to-side:hover a::before {
  transition: 0.25s ease-in-out;
  width: 100%;
}

.hv-link.center-to-side a::before {
  left: 50%;
  transform: translateX(-50%);
}

/* -------  ここまで  ------- */

/* 共通部分の設定 */

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Noto Sans JP", sans-serif;
  font-size: 100%;
  line-height: 1.5;
  color: #333;
  background-color: #f9f9f9;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

header {
  padding: 1em 0;
  background-color: #fff;
  text-align: center;
}

footer {
  padding: 1em;
  text-align: center;
}

main {
  width: 900px;
  background-color: #fff;
  margin: 0 auto;
  border-radius: 20px;
}

.wrap p {
  margin-left: 45px;
  margin-right: 45px;
}

article {
  font-size: 1.3rem;
  padding: 2em;
  margin-top: 30px;
}

article h1 {
  margin-left: 45px;
}

.gnav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.gnav h1 {
  font-size: 30px;
}

.f-nav {
  display: flex;
  list-style: none;
  margin-right: 45px;
}

.nav-items {
  margin-left: 34px;
  letter-spacing: 2px;
}

.top-page {
  margin-top: 100px;
}

.top-page p {
  text-align: center;
}

.nn-page {
  text-align: center;
}

.game-section {
  position: relative;
}

.game-section img {
  width: 900px;
}

.game-section p {
  margin: 50px 0;
}

.test {
  position: absolute;
  top: 70px;
  left: 100px;
}

.test h3 {
  letter-spacing: 5px;
  font-size: 2.5rem;
  color: #f9f9f9;
  font-family: "Orbitron", sans-serif;
}

.like-list {
  display: flex;
  margin-top: 4rem;
}

.like-list figcaption {
  text-align: center;
}

.game-section p {
  text-align: center;
}

.border {
  border-bottom: 1px solid #333;
  margin: 5rem 2rem;
}

.profile-contents {
  display: flex;
  align-items: center;
}

.profile-contents figure {
  padding-left: 5px;
}

.profile-details p {
  margin-top: 4rem;
}

.food-section img {
  width: 900px;
}

.food-section {
  position: relative;
}

.food-title {
  position: absolute;
  top: 250px;
  left: 550px;
  letter-spacing: 5px;
  font-size: 2.5rem;
  color: #f9f9f9;
  font-family: "Orbitron", sans-serif;
}

.other p {
  text-align: center;
}

.other figure {
  width: 450px;
  margin-top: 4rem;
}

.books,
.anime {
  display: flex;
  align-items: center;
}

.books p {
  margin-left: 100px;

  letter-spacing: 0.5rem;
}

.anime figure {
  margin-left: 130px;
}

.anime p {
  margin-left: 90px;
  margin-right: 0;
}

.ending {
  text-align: center;
}
